.container {
  position: relative;
  width: 1080px;
  height: 1920px;
  background-color: #001d43;
  overflow: hidden;
}
.container .header .logo__img {
  width: 550px;
  height: 635.08px;
  position: absolute;
  left: 27px;
  top: -175px;
}
.container .header .time .hour {
  position: absolute;
  width: 201px;
  height: 55px;
  left: 812px;
  top: 50px;
  font-weight: 600;
  font-size: 72px;
  line-height: 55px;
  opacity: 0.5;
  color: #ffffff;
}
.container .header .time .day {
  position: absolute;
  width: 198px;
  height: 55px;
  left: 810px;
  top: 95px;
  font-weight: normal;
  font-size: 20px;
  line-height: 55px;
  color: #ffffff;
}
.container .main {
  position: absolute;
  width: 1080px;
  height: 1744px;
  left: 0px;
  top: 176px;
  background-color: #e9eef1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container .main__title {
  color: #3c5674;
}
.container .main__title .text {
  position: absolute;
  width: 757px;
  height: 62px;
  left: 163px;
  top: 144px;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
}
.container .main__title .content {
  position: absolute;
  width: 655px;
  height: 40px;
  left: 214px;
  top: 209px;
  font-style: italic;
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #082a55;
}
.container .main__number {
  position: absolute;
  width: 729px;
  height: 729px;
  top: 439px;
  left: 175px;
  border: 1px solid #ffffff;
  background: #e9edf0;
  box-shadow: 20px 20px 40px #d3dbe6, -20px -20px 40px #ffffff;
  border-radius: 90px;
}
.container .main__number .extra {
  position: absolute;
  top: 321px;
  left: 193px;
  color: #405c72;
  font-size: 30rem;
  line-height: 30px;
  font-weight: bold;
}
.container .main__number .medium {
  position: absolute;
  width: 709px;
  height: 62px;
  left: 12px;
  top: 478px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #3c5674;
}
.container .main__number .medium span {
  color: #b71f35;
}
.container .main__list {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 1031px;
  height: 208px;
  top: 1342px;
  left: 21px;
  border: 1px solid #ffffff;
  background: #e9edf0;
  box-shadow: 20px 20px 40px #d3dbe6, -20px -12px 40px #ffffff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.container .main__list .item {
  cursor: pointer;
  margin-top: 29px;
}
.container .main__list .item .icon {
  padding-left: 39px;
}
.container .main__list .item .icon img {
  width: 70px;
  height: 70px;
}
.container .main__list .item .content {
  font-weight: 500;
  opacity: 0.7;
  font-size: 22px;
  line-height: 30px;
  width: 140px;
  text-align: center;
  color: #3c5674;
}
.container .main__list .item .content:hover {
  text-decoration: underline;
}
.container .main__list .item .online--content {
  font-weight: bold;
  opacity: 1;
}
.container .rectangle {
  background-color: #ffffff;
  box-shadow: 3px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 0 2px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  bottom: 196px;
  left: 21px;
  width: 1031px;
  height: 14px;
}
.container .rectangle .red {
  width: 203px;
  height: 100%;
  background-color: #b71f35;
}
.container .rectangle .blue {
  width: 203px;
  height: 100%;
  background-color: #193d6b;
}
.container .rectangle .bluewt {
  width: 203px;
  height: 100%;
  background-color: #2c9595;
}
.container .rectangle .green {
  width: 203px;
  height: 100%;
  background-color: #5ea661;
}
.container .rectangle .yellow {
  width: 203px;
  height: 100%;
  background-color: #f5a623;
}
.container .warning {
  width: 1028px;
  height: 171px;
  background-color: #2c9595;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  bottom: 38px;
  left: 22px;
  z-index: 1;
}
.container .warning .icon {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 42px;
  left: 49px;
}
.container .warning .content {
  position: absolute;
  top: 49px;
  left: 179px;
  width: 476px;
  font-size: 2.5rem;
  line-height: 40px;
  color: #ffffff;
  font-weight: normal;
}
.container .warning .button {
  cursor: pointer;
  position: absolute;
  background-color: #e9edf0;
  width: 269px;
  height: 63px;
  right: 51px;
  top: 55px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 90px;
}
.container .warning .button__content {
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  position: absolute;
  width: 176px;
  left: 31px;
  top: 11px;
  color: #3c5674;
}
.container .warning .button__icon {
  width: 31px;
  height: 31px;
  position: absolute;
  top: 16px;
  left: 220px;
  color: #b71f35;
}

/*# sourceMappingURL=displaySupport.css.map */
